@page
@model SDE_AE_VoorraadApp.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

@section Styles {
    <link rel="stylesheet" href="~/css/desktop.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />
}

<body>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="/Index"><img src="~/Home.png" alt="Home" class="home"></a>
    </div>

    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="/Login"><img src="~/LogUit.png" alt="Log Uit" class="logOut"></a>
    </div>

    <div>
        <a class="nav-link text-dark" onclick="history.go(-1)"><img src="~/Terug.png" alt="Terug" class="back"></a>
    </div>

    <div>
        <img src="~/Logo-AE.png" alt="Logo Appeltje Eitje Automaten" class="aeLogo">
    </div>

    <div class="text404-2">
        <div class="text404">
            ERROR 404:
        </div>

        <div class="textMiddle">
            De pagina die u probeert te zoeken bestaat helaas niet
        </div>
    </div>
</body>