@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

<!DOCTYPE html>
<head>

</head>

<body>
    <div class="LogUit">
        <a class="nav-link text-dark" asp-area="" asp-page="/Login"><img src="~/LogUit.png" alt="Log Uit" style="width:142px;height:42px;"></a>
    </div>
    
    <div class="homeImage">
        <img src="~/Logo-AE.png" alt="Logo Appeltje Eitje Automaten" style="width:669px;height:336px;">
    </div>

    <div style="text-align: center; position: absolute; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);">
        <a asp-page="/LG11"><button type="button" class="button">Lijst Genereren</button></a><br><br><br><br>
        <button type="button" class="button">Archief</button><br><br><br><br>
        <button type="button" class="button">Accounts Beheren</button><br><br><br><br>
        <button type="button" class="button">Couriers & Filialen</button>
    </div>
</body>