@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/desktop.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />
}

<!DOCTYPE html>
<head>

</head>

<body>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="/Login"><img src="~/LogUit.png" alt="Log Uit" class="logOut"></a>
    </div>

    <div>
        <img src="~/Logo-AE.png" alt="Logo Appeltje Eitje Automaten" class="aeLogo">
    </div>

    <!-- KNOP 1: Lijst Genereren -->
    <form method="POST" asp-page="Index">
        <input type="submit" asp-page-handler="LG11" value="Lijst Genereren" class="hp-Button-Inherit hp-Button1">
    </form>

    <!-- KNOP 2: Archief -->
    <form method="POST" asp-page="Index">
        <input type="submit" asp-page-handler="AR11" value="Archief" class="hp-Button-Inherit hp-Button2">
    </form>

    <!-- KNOP 3: Accounts Beheren -->
    <form method="POST" asp-page="Index">
        <input type="submit" asp-page-handler="AB11" value="Accounts Beheren" class="hp-Button-Inherit hp-Button3">
    </form>

    <!-- KNOP 4: Couriers & Filialen -->
    <form method="POST" asp-page="Index">
        <input type="submit" asp-page-handler="CF11" value="Couriers & Filialen" class="hp-Button-Inherit hp-Button4">
    </form>

</body>