@page
@model SDE_AE_VoorraadApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/desktop.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />
}

<!DOCTYPE html>
<head>

</head>

<body>
<div>
    <img src="~/Logo-AE.png" alt="Logo Appeltje Eitje Automaten" class="aeLogo"><br><br>
</div>

<div class="form">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email" id="textFieldTitel"></label><br>
            <input asp-for="Input.Email" type="text" id="loginField" class="form-control" placeholder="Vul uw gebruikersnaam in..."/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <br><br><br>
        <div class="form-group">
            <label asp-for="Input.Password" id="textFieldTitel"></label><br>
            <input asp-for="Input.Password" id="loginField" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <br><br><br>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="logIn">Log in</button>
        </div>
    </form>
</div>
</body>